a {
	color: #f00;
}

a:hover {
	color: #f22;
}

.copyright a {
	color: #f88;
}

:not(nav) > .container {
	width: 90%;
	padding: 8% 5%;
}

.bg-primary {
	background-color: #685!important;
}

button.bg-primary:focus, button.bg-primary:hover {
	background-color: #8a6!important;
}

.bg-white {
	background-color: #fff;
}

.bg-white hr:after {
	background-color: #fff!important;
}

#mainNav {
	padding-top: 1.0rem!important;
	padding-bottom: 1.0rem!important;
}

header.masthead {
	height: 100vh;
	padding-top: 40vh;
	background-color: #44f!important;
}

header hr:after {
	background-color: #44f!important;
}

header container {
	
}

#about {
	color: #000!important;
	background-color: #3c3!important;
}

#about hr {
	border-color: #000!important;
}

#about hr:after {
	color: #000!important;
	background-color: #3c3!important;
}

#software {
	background-color: #ff4!important;
	color: #002!important;
}

#software hr {
	border-color: #002!important;
}

#software hr:after {
	color: #002!important;
	background-color: #ff4!important;
}

#music {
	color: #000!important;
	background-color: #8cf!important;
}

#music hr {
	border-color: #000!important;
}

#music hr:after {
	color: #000!important;
	background-color: #8cf!important;
}

#profile {
	color: #000;
	background-color: #ffa;
}

#profile div.container {
}

#profile hr:after {
	background-color: #ffa;
}

.bg-form {
	padding: 5vw;
	background-color: #afc;
}

.footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #236!important;
}

.list-inline-item {
	font-size: calc(18px * 0.25vw);
}

.history {
	text-align: center;
	font-size: 0.8rem;
	margin-bottom: 0;
}
